<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/comentario.css}" href="css/comentario.css" type="text/css" />
    <title>Inicio</title>
</head>

<body th:attr="data-userId=${user.id}, data-fatherId=${coment.id}, data-mediaId=${coment.media.id}">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="contenido-background" th:style="'background-image: url(' + ${coment.media.backdropImageUrl} + ')'">
    </div>
    <section class="container comentario-section">
        <div class="row">
            <div class="col-md-6 mt-3 d-flex flex-row justify-content-start conjuntoPosters">
                <form th:action="@{/user/__${user.id}__/contenido}" method="get">
                    <input type="hidden" name="tipo" th:value="${coment.media.tipo}" />
                    <input type="hidden" name="idMedia" th:value="${coment.media.id}" />
                    <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
                        <div class="card">
                            <img class="" th:src="@{${coment.media.coverImageUrl}}" alt="portada"
                                th:style="'height: 300px; object-fit: cover;'" />
                            <!-- el uso de th:style es porque la imagen con thymleaf no puede procesarse en el archivo css -->
                            <div class="card-body text-center">
                                <!-- <h6 class="card-title" th:text="${media.nombre}">Nombre del contenido</h6> -->
                                <div class="card-media-data d-flex flex-row justify-content-center gap-3">
                                    <div class="type_icon" th:title="${coment.media.tipo}">
                                        <i th:if="${coment.media.tipo == 'tv'}" class="fa-solid fa-tv"></i>
                                        <i th:if="${coment.media.tipo == 'movie'}" class="fa-solid fa-film"></i>
                                        <i th:if="${coment.media.tipo == 'book'}" class="fa-solid fa-book"></i>
                                        <i th:if="${coment.media.tipo == 'music'}" class="fa-solid fa-compact-disc"></i>
                                    </div>
                                    <div class="num_Rating d-flex gap-1" title="Valoración media">
                                        <div class="icono_media">
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span id="media-rating" th:text="${coment.media.rating}">0</span>
                                        </div>
                                    </div>
                                    <div class="num_Vistos d-flex gap-1" title="Vistos">
                                        <div class="icono_media">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span th:text="${coment.media.numVisto}">0</span>
                                        </div>
                                    </div>
                                    <div class="num_Comments d-flex gap-1" title="Comentarios">
                                        <div class="icono_media">
                                            <i class="fa-solid fa-comment"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span th:text="${coment.media.comments.size}">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <div class="comentario-box">
                    <div class="comentario-body cabecera-comentario d-flex align-items-center">
                        <form th:action="@{/user/__${coment.author.id}__/perfilUsuario}" method="get"
                            class="cabecera-comentario d-flex ">
                            <input type="hidden" name="username" th:value="${coment.author.username}">
                            <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
                                <img th:src="@{/user/__${coment.author.id}__/pic}" alt="" class="rounded-circle mr-3"
                                    width="40" height="40">
                                <h4 class="nombre-comentario" th:text="${coment.author.username}">Nombre</h4>
                            </button>
                        </form>
                        <span class="text-muted small" th:text="${coment.dateSent}">Fecha</span>
                    </div>
                    <div class="comentario-body">
                        <div>
                            <p class="card-text comentario-texto" th:text="${coment.text}"
                                th:classappend="${coment.deleted} ? 'deleted-comment' : ''">
                                Texto
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mb-2 mt-4">
        <div class="contenido-comentarios">
            <h2><i class="fa-regular fa-comments"></i> <span class="comentarios-totales"
                    th:text="${coment.replies.size}"> 0</span> Respuestas</h2>
            <!--Boton para poner un comentario-->
            <h4>Responde al comentario de

                <span th:text="${coment.author.username}">author</span>

            </h4>
            <textarea type="text" id="commentText" placeholder="Escribe aquí tu respuesta"></textarea><br>
            <button id="submitBtn"><i class="fa-solid fa-paper-plane"></i> Enviar</button>
        </div>
        <div id="comments">
            <div th:each="comentario : ${comentarios}" class="comment">
                <div class="card mt-4">
                    <div class="card-body  cabecera-comentario d-flex align-items-center">
                        <form th:action="@{/user/__${comentario.author.id}__/perfilUsuario}" method="get"
                            class="cabecera-comentario d-flex align-items-center gap-2">
                            <input type="hidden" name="username" th:value="${comentario.author.username}">
                            <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">

                                <img th:src="@{/user/__${comentario.author.id}__/pic}" alt=""
                                    class="rounded-circle mr-3" width="40" height="40">

                                <span class="text-muted small mb-1">Escrito por</span>

                                <h4 class="card-title nombre-comentario" th:text="${comentario.author.username}">Nombre
                                </h4>
                            </button>

                        </form>
                        <a class="cabecera-comentario d-flex align-items-center"
                            th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">

                            <span class="text-muted small mb-1" th:text="${comentario.dateSent}">Fecha</span>
                            <div class="comment-num-replies d-flex gap-1">
                                <div class="icono_comment">
                                    <i class="fa-regular fa-comment"></i>
                                </div>
                                <div class="numero_comment">
                                    <span th:text="${comentario.replies.size}">0</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
                            <span class="card-text comentario-texto" th:text="${comentario.text}"
                                th:classappend="${comentario.deleted} ? 'deleted-comment' : ''">
                                Texto
                            </span>
                        </a>
                        <span th:if="${(comentario.author.id != user.id) and (!comentario.deleted)}">
                            <!--PARA QUE UN USUARIO NO PUEDA NI AUTOREPORTARSE NI QUE SEPA QUE LE HAN REPORTADO-->
                            <span th:if="${!comentario.report}">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#reporteModal-' + ${comentario.id}"
                                    th:id="'flag-' + ${comentario.id}">
                                    <i class="fa-solid fa-flag"></i>
                                </button>
                            </span>
                            <div th:if="${comentario.report}">
                                <span><b>Este comentario ya ha sido reportado</b></span>
                            </div>
                        </span>


                    </div>
                </div>

                <!--Modal para reportar el comentario-->
                <div class="modal fade" th:id="'reporteModal-' + ${comentario.id}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario -->
                                <form
                                    th:action="@{/user/__${user.id}__/__${comentario.media.id}__/reportarComentario/__${comentario.id}__}"
                                    method="post">
                                    <input type="hidden" id="comment-click" th:value="${comentario.id}" />
                                    <p>¿Estás seguro de reportar este comentario? Lo mandaremos a un administrador para
                                        que lo
                                        compruebe</p>
                                    <button type="submit" class="btn btn-danger btn-report">Reportar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>

    <script th:src="@{/js/comentario.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>
</body>

</html>