<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/contenido.css}" href="css/contenido.css" type="text/css" />
    <title>Inicio</title>
</head>

<body th:attr="data-userId=${user.id}, data-mediaId=${media.id}, data-mediaTipo=${media.tipo}">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="contenido-background" th:style="'background-image: url(' + ${media.backdropImageUrl} + ')'"></div>

    <section class="container contenido-section">
        <div class="row">
            <div class="col-md-6">
                <div class="poster">
                    <img class="poster-img w-500" th:src="@{${media.coverImageUrl}}" alt="Poster">
                </div>
            </div>
            <div class="col-md-6 gap-2">
                <div class="contenido-info">
                    <div class="titulo d-flex justify-content-start gap-4">

                        <div class="type_icon">
                            <i th:if="${media.tipo == 'tv'}" class="fa-solid fa-tv"></i>
                            <i th:if="${media.tipo == 'movie'}" class="fa-solid fa-film"></i>
                            <i th:if="${media.tipo == 'book'}" class="fa-solid fa-book"></i>
                            <i th:if="${media.tipo == 'music'}" class="fa-solid fa-compact-disc"></i>
                            <i th:if="${media.tipo == 'season'}" class="fa-solid fa-photo-film"></i>

                            <span th:text="${media.nombre}"> Título </span>
                        </div>
                    </div>               
                    <div class="estreno d-flex gap-4  justify-content-start">
                        <div th:if="${media.father != null}">
                            <div th:if="${media.father.tipo == 'tv'}" class="d-flex gap-2">
                                <p><i class="fa-solid fa-tv"></i> Serie:
                                    <span class="text-muted" th:text="${media.father.nombre} "> Padre </span>
                                </p>
                            </div>
                        </div>
                        <div th:if="${media.tipo == 'tv'}">
                            <div class="d-flex gap-2">
                                <p><i class="fa-solid fa-photo-film"></i> Temporadas:
                                    <span class="text-muted" th:text="${media.children.size} "> 0 </span>
                                </p>
                            </div>
                        </div>
                        <div th:if="${media.numChild != 0}">
                            <div class="d-flex gap-2">
                                <p><i class="fa-solid fa-circle-play"></i> Episodios:
                                    <span class="text-muted" th:text="${media.numChild} "> 0 </span>
                                </p>
                            </div>
                        </div>
                        <p><i class="fa-regular fa-calendar"></i> Fecha de estreno:
                            <span class="text-muted " th:text="${media.fecha}">Sin fecha</span>
                        </p>

                    </div>
                    <p class="descripcion " th:text="${media.descripcion}">No hay descripcion</p>
                    <div class="Media_values d-flex flex-row justify-content-center gap-4">
                        <div class="num_Rating d-flex gap-2">
                            <div class="icono_media">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="numero_media">
                                <span id="media-rating" th:text="${media.rating}">0</span>
                            </div>
                        </div>
                        <div class="num_Viendo d-flex gap-2">
                            <div class="icono_media">
                                <i class="fa-sharp fa-solid fa-hourglass-half"></i>
                            </div>
                            <div class="numero_media">
                                <span th:text="${media.numViendo}">0</span>
                            </div>
                        </div>
                        <div class="num_Vistos d-flex gap-2">
                            <div class="icono_media">
                                <i class="fa-regular fa-eye"></i>
                            </div>
                            <div class="numero_media">
                                <span th:text="${media.numVisto}">0</span>
                            </div>
                        </div>
                        <div class="num_Listas d-flex gap-2">
                            <div class="icono_media">
                                <i class="fa-solid fa-list-ul"></i>
                            </div>
                            <div class="numero_media">
                                <span th:text="${media.numListas}">0</span>
                            </div>
                        </div>
                        <div class="num_Favoritos d-flex gap-2">
                            <div class="icono_media">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="numero_media">
                                <span th:text="${media.numFavs}">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!-- Agregar una fila -->
                    <div class="col-md-12"> <!-- La columna que contiene las acciones -->
                        <div class="acciones">
                            <!-- <h2> Añadir a: </h2> -->
                            <div class="container">
                                <!-- Acciones que puede realizar el usuario con las listas basicas -->
                                <div class="d-grid gap-2">


                                    <div class="contenido-rating d-flex flex-row justify-content-center gap-4">
                                        <div class="text-rating d-flex align-items-center">
                                            <div class="text">
                                                <p>Valoración: </p>
                                            </div>
                                            <div class="number">
                                                <p id="rating-value"> <span th:text="${relacion.calificacion}">0</span>
                                            </div>
                                            </p>
                                        </div>
                                        <div class="rating">
                                            <input type="radio" id="star5" class="star" name="rating" value="5.0"
                                                th:checked="${relacion.calificacion == 5}" /><label for="star5"
                                                class="full" title="Te ha encantado"></label>
                                            <input type="radio" id="star4.5" class="star" name="rating" value="4.5"
                                                th:checked="${relacion.calificacion == 4.5}" /><label for="star4.5"
                                                class="half"></label>
                                            <input type="radio" id="star4" class="star" name="rating" value="4.0"
                                                th:checked="${relacion.calificacion == 4}" /><label for="star4"
                                                class="full"></label>
                                            <input type="radio" id="star3.5" class="star" name="rating" value="3.5"
                                                th:checked="${relacion.calificacion == 3.5}" /><label for="star3.5"
                                                class="half"></label>
                                            <input type="radio" id="star3" class="star" name="rating" value="3.0"
                                                th:checked="${relacion.calificacion == 3}" /><label for="star3"
                                                class="full"></label>
                                            <input type="radio" id="star2.5" class="star" name="rating" value="2.5"
                                                th:checked="${relacion.calificacion == 2.5}" /><label for="star2.5"
                                                class="half"></label>
                                            <input type="radio" id="star2" class="star" name="rating" value="2.0"
                                                th:checked="${relacion.calificacion == 2}" /><label for="star2"
                                                class="full"></label>
                                            <input type="radio" id="star1.5" class="star" name="rating" value="1.5"
                                                th:checked="${relacion.calificacion == 1.5}" /><label for="star1.5"
                                                class="half"></label>
                                            <input type="radio" id="star1" class="star" name="rating" value="1.0"
                                                th:checked="${relacion.calificacion == 1}" /><label for="star1"
                                                class="full"></label>
                                            <input type="radio" id="star0.5" class="star" name="rating" value="0.5"
                                                th:checked="${relacion.calificacion == 0.5}" /><label for="star0.5"
                                                class="half"></label>
                                            <input type="radio" id="star0" class="star" name="rating" value="0.0"
                                                th:checked="${relacion.calificacion == 0}" />
                                            <label for="star0" class="full" title="Eliminar valoración"></label>

                                        </div>


                                    </div>


                                    <button class="btn"
                                        th:class="${relacion.favorito} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="favoritoBtn"><i class="fa-solid fa-heart"></i>Favoritos</button>
                                    <button class="btn"
                                        th:class="${relacion.viendo} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="viendoBtn"><i
                                            class="fa-sharp fa-solid fa-hourglass-half"></i>Viendo</button>
                                    <button class="btn"
                                        th:class="${relacion.ended} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="terminadoBtn"><i class="fa-regular fa-eye"></i>Terminado</button>

                                    <div class="dropdown ">
                                        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                            title="Selecciona tus listas personalizadas" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-list"></i> Seleccionar lista
                                        </button>
                                        <!-- Iterar sobre la lista de elementos y mostrar cada uno -->

                                        <div class="dropdown-menu dropdown-menu-dark w-100 "
                                            aria-labelledby="dropdownMenuButton">
                                            <!-- Iterar sobre las listas y mostrarlas como checkboxes en el dropdown -->
                                            <div th:each="item : ${Listas}" class="mt-2 ">
                                                <!-- asi no aparecen los botones de favoritos, viendo y terminado -->
                                                <button
                                                    th:unless="${item.name == 'Favoritos'|| item.name == 'Viendo' || item.name == 'Terminado' }"
                                                    class="btn botonesBasicos"
                                                    th:class="${item.medias.contains(media)} ? 'btn botonesBasicos  btn-danger' : 'btn botonesBasicos btn-success'"
                                                    th:text="${item.name}">
                                                </button>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                                <div class="row">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- TEMPORADAS -->
    <div th:if="${media.tipo == 'tv' && media.children.size >= 1 }">
        <div class="container temporadas-container mb-2">
            <h2 class="TituloNoBg"><i class="fa-solid fa-photo-film"></i> Temporadas (<span th:text="${media.children.size}">0</span>)</h2>
            <div class="scrollable-container">
                <div class="row">
                    <!-- Iterar sobre los medios y mostrarlos -->
                    <div class="col-md-6 mt-3 d-flex flex-row justify-content-start conjuntoPosters">
                        <div th:each="item : ${media.children}" class="mr-2">
                            <form th:action="@{/user/__${user.id}__/contenido}" method="get">
                                <input type="hidden" name="tipo" th:value="${item.tipo}" />
                                <input type="hidden" name="idMedia" th:value="${item.id}" />
                                <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
                                    <div class="card">
                                        <img class="" th:src="${item.coverImageUrl}" alt="portada"
                                            th:style="'height: 350px; object-fit: cover;'" />
                                        <!-- el uso de th:style es porque la imagen con thymleaf no puede procesarse en el archivo css -->
                                        <div class="card-body text-center">
                                            <h6 class="card-title" th:text="${item.nombre}">Nombre del contenido</h6>
                                            <div class="card-media-data d-flex flex-row justify-content-center gap-3">
                                                <div class="type_icon" th:title="${item.tipo}">
                                                    <i th:if="${item.tipo == 'season'}"
                                                        class="fa-solid fa-photo-film"></i>

                                                </div>
                                                <div class="num_Rating d-flex gap-1" title="Valoración media">
                                                    <div class="icono_media">
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <div class="numero_media">
                                                        <span id="media-rating" th:text="${item.rating}">0</span>
                                                    </div>
                                                </div>
                                                <div class="num_Vistos d-flex gap-1" title="Vistos">
                                                    <div class="icono_media">
                                                        <i class="fa-regular fa-eye"></i>
                                                    </div>
                                                    <div class="numero_media">
                                                        <span th:text="${item.numVisto}">0</span>
                                                    </div>
                                                </div>
                                                <div class="num_Comments d-flex gap-1" title="Comentarios">
                                                    <div class="icono_media">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </div>
                                                    <div class="numero_media">
                                                        <span th:text="${item.comments.size}">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>

    <div class="container mb-2">
        <div class="contenido-comentarios">
            <h2><i class="fa-regular fa-comments"></i> <span class="comentarios-totales"
                    th:text="${media.comments.size}"> 0</span> Comentarios</h2>
            <!--Boton para poner un comentario-->
            <h4>Añade un comentario</h4>
            <textarea type="text" id="commentText" placeholder="Escribe tu comentario aquí"></textarea><br>
            <button id="submitBtn"><i class="fa-solid fa-paper-plane"></i> Enviar</button>
        </div>

        <div id="comments">
            <div th:each="comentario : ${comentarios}" class="comment">
                <div class="card mt-4 d-flex">
                    <div class="card-body  cabecera-comentario d-flex align-items-center">
                        <a class="cabecera-comentario d-flex align-items-center gap-2"
                            th:href="@{/user/{id}/(id=${comentario.author.id})}">
                            <img th:src="@{/user/__${comentario.author.id}__/pic}" alt="" class="rounded-circle mr-3"
                                width="40" height="40">

                            <span class="text-muted small mb-1">Escrito por</span>

                            <h4 class="card-title nombre-comentario" th:text="${comentario.author.username}">Nombre
                            </h4>

                        </a>
                        <a class="cabecera-comentario d-flex align-items-center"
                            th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">

                            <span class="text-muted small mb-1" th:text="${comentario.dateSent}">Fecha</span>
                            <div class="comment-num-replies d-flex gap-1">
                                <div class="icono_comment">
                                    <i class="fa-regular fa-comment"></i>
                                </div>
                                <div class="numero_comment">
                                    <span th:text="${comentario.replies.size}">0</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
                            <span class="card-text comentario-texto" th:text="${comentario.text}"
                                th:classappend="${comentario.deleted} ? 'deleted-comment' : ''">
                                Texto
                            </span>
                        </a>
                        <span th:if="${(comentario.author.id != user.id) and (!comentario.deleted)}">
                            <!--PARA QUE UN USUARIO NO PUEDA NI AUTOREPORTARSE NI QUE SEPA QUE LE HAN REPORTADO-->
                            <span th:if="${!comentario.report}">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#reporteModal-' + ${comentario.id}"
                                    th:id="'flag-' + ${comentario.id}">
                                    <i class="fa-solid fa-flag"></i>
                                </button>
                            </span>
                            <div th:if="${comentario.report}">
                                <span><b>Este comentario ya ha sido reportado</b></span>
                            </div>
                        </span>


                    </div>
                </div>

                <!--Modal para reportar el comentario-->
                <div class="modal fade" th:id="'reporteModal-' + ${comentario.id}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario -->
                                <form
                                    th:action="@{/user/__${user.id}__/__${media.id}__/reportarComentario/__${comentario.id}__}"
                                    method="post">
                                    <input type="hidden" id="comment-click" th:value="${comentario.id}" />
                                    <p>¿Estás seguro de reportar este comentario? Lo mandaremos a un administrador para
                                        que lo
                                        compruebe</p>
                                    <button type="submit" class="btn btn-danger btn-report">Reportar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal reportar comentario

    <div class="modal fade" id="reporteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form th:action="@{/user/__${user.id}__/__${media.id}__/reportarComentario}"
                        th:object="${comentario}" method="post">
                        <p>¿Estás seguro de reportar este comentario? Lo mandaremos a un administrador para que lo
                            compruebe</p>
                        <button type="submit" class="btn btn-primary">Reportar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>-->


    <!--<div class="container mb-2">
        <h2>Reseñas</h2>
        <div class="comment">
            <h5>Yo</h5>
            <p>Adoramos</p>
            <button class="btn btn-danger">Flag</button>
        </div>
    </div>-->


    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
    <script th:src="@{/js/contenido.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>
</body>

</html>