<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Inicio</title>
</head>

<body th:attr="data-userId=${user.id}, data-listaId=${lista.id}">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div id="lista-contenido" class="container contenidoLista">
        <div class="row d-flex mt-3">
            <div class="col-md-6">
                <h1 class="mb-0"><span th:text="${lista.name.toUpperCase()}">default</span></h1>
                <p>Lista creada por: <span th:text="${lista.author.getUsername()}">default</span></p>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <!-- Botón alineado a la derecha de la columna -->
                <div th:unless="${lista.author.getUsername() eq user.username}">
                    <div id="btn-div" th:classappend="${suscrito} ? 'd-none' : ''">
                        <form th:action="@{/user/__${user.id}__/suscripcion/__${lista.id}__}" method="post">
                            <button class="btn btn-success" type="submit" id="suscripcion-btn">Suscribirse</button>
                        </form>
                    </div>
                    <div th:classappend="${suscrito} ? '' : 'd-none'" id="av-div">
                        <form action="">
                            <button class="btn btn-danger" type="submit" id="anular-btn">Anular suscripcion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="justify-content-center align-items-center mt-3 btn-group" id="btn-group">
                <button class="btn btn-outline-dark" id="all-search"> <i class="fa-solid fa-icons"></i>
                    Todo (<span id="resultadoTodo">0</span>)</button>
                <button class="btn btn-outline-dark btn-block" id="series-search">
                    <i class="fa-solid fa-tv"></i> Series (<span id="resultadosSeries">0</span>)
                </button>
                <button class="btn btn-outline-dark" id="season-search"> <i class="fa-solid fa-photo-film"></i>
                    Temporadas (<span id="resultadoSeason">0</span>)</button>
                <button class="btn btn-outline-dark" id="episode-search"> <i class="fa-solid fa-circle-play"></i>
                    Capítulos (<span id="resultadoEpisode">0</span>)</button>
                <button class="btn btn-outline-dark btn-block" id="movies-search">
                    <i class="fa-solid fa-film"></i> Películas (<span id="resultadosPeliculas">0</span>)
                </button>
                <button class="btn btn-outline-dark" id="book-search"> <i class="fa-solid fa-book"></i>
                    Libros (<span id="resultadosBook">0</span>)</button>
            </div>
        </div>

        <div id="media-display" class="row">
            <div class="col-lg-3 col-md-4 mt-3 d-flex" th:each="item : ${contenidos}">
                <!--enviamos los datos en forma de formulario porque directamente no me deja :( -->
                <form th:id="${item.id}" th:action="@{/user/__${user.id}__/contenido}" method="get">
                    <input type="hidden" name="tipo" th:value="${item.tipo}" />
                    <input type="hidden" name="idMedia" th:value="${item.id}" />
                    <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
                        <div th:class="'card media-' + ${item.tipo}">
                            <img class="card-img w-500"
                                th:src="${item.coverImageUrl}" alt="Cover"
                                th:style="'height: 500px; object-fit: cover;'">
                            <div class="card-body">
                                <h6 th:if="${item.tipo == 'episode'}"><b>
                                    <span th:text="${'S'+item.father.orden + 'E'+ item.orden + ': ' + item.nombre}">
                                    nombre</span></b></h6>
                                <h6 th:if="${item.tipo != 'episode'}"><b><span th:text="${item.nombre}"></span></b></h6>
                                <div class="card-media-data d-flex flex-row justify-content-center gap-3">
                                    <div class="type_icon">
                                        <i th:if="${item.tipo == 'tv'}" class="fa-solid fa-tv"></i>
                                        <i th:if="${item.tipo == 'movie'}" class="fa-solid fa-film"></i>
                                        <i th:if="${item.tipo == 'book'}" class="fa-solid fa-book"></i>
                                        <i th:if="${item.tipo == 'music'}" class="fa-solid fa-compact-disc"></i>
                                        <i th:if="${item.tipo == 'season'}" class="fa-solid fa-photo-film"></i>
                                        <i th:if="${item.tipo == 'episode'}" class="fa-solid fa-circle-play"></i>
                                    </div>

                                    <div class="num_Rating d-flex gap-1">
                                        <div class="icono_media">
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span id="media-rating" th:text="${item.rating}">0</span>
                                        </div>
                                    </div>

                                    <div class="num_Vistos d-flex gap-1">
                                        <div class="icono_media">
                                            <i class="fa-regular fa-eye"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span th:text="${item.numVisto}">0</span>
                                        </div>
                                    </div>

                                    <div class="num_Comments d-flex gap-1">
                                        <div class="icono_media">
                                            <i class="fa-solid fa-comment"></i>
                                        </div>
                                        <div class="numero_media">
                                            <span th:text="${item.comments.size}">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/suscripcion.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>
</body>

</html>