/* .fondo{
    background-image: url('../img/pattern1.jpg');
    background-size: 300px; 
    background-repeat: repeat;
}
 */

.profile-info {
    display: flex;
    align-items: center;
    color: #fff;

}

#profileForm {
    margin-top: 20px; 
    color: #fff;

}

.profile-username{
    margin-top: 20px; 
}

.profile-picture {
    margin-right: 40px;
}

.change-picture{
    margin-top: 20px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.botones-accion{
    margin-top: 20px;
}

.advertencia{
    color:red;
}

.editProfile-message{
    color:green;
}

.container {
    margin-top: 30px;
    margin-bottom:30px;
    background: rgba(42, 42, 42, 0.9);
    /* Color de fondo oscuro */
    /* Color de texto blanco para contrastar */
    border: 2px solid #ccc; /* Grosor del borde */
    border-radius: 10px; /* Radio de redondeo de las esquinas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
    /* Añade un relleno para separar el contenido del borde */
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 20px; 
}
