.img-container {
  background-image: url('../img/portada.jpg');
  background-size: cover;
  /* Ajustar la imagen de fondo */

  min-height: 40em;
  max-width: none;
}

a,
.card,
.card-body,
span {
  text-decoration: none;
}

.navbar {
  border-radius: 0;
}

.contenidoPerfil {
  padding: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
  background: rgba(42, 42, 42, 0.9);
  color: #ccc;
}


.card:hover {
  transform: scale(1.05);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle, #fff, #eff6ff);
  color: #333;
  /* Color de texto oscuro para contrastar */
  font-family: Tahoma, Geneva, sans-serif;
}

.c-footer {
  margin-top: auto;
  width: 100%;
  text-align: start;
  padding: 20px 0;
}

.comment {
  margin: 1em;
}

/* Icono de estrella amarillo */
.num_Rating .icono_media {
  color: #ffe234;
}

/* Icono de viendo en morado */
.num_Viendo .icono_media {
  color: darkorchid;
}

/* Icono de visto en verde */
.num_Vistos .icono_media {
  color: #00e054;
}

/* Icono de listas en azul */
.num_Listas .icono_media {
  color: #40bcf4;
}

/* Icono de favoritos en naranja */
.num_Favoritos .icono_media {
  color: orange;
}

/* COMENTARIOS------------------------------------------------- */
.comentario-texto {
  word-wrap: break-word;
  color: #fff;
}

.nombre-comentario,
.comment-num-replies {
  color: #fff;
}

.nombre-comentario:hover,
.comment-num-replies:hover,
.comentario-texto:hover {
  color: #ddd;
}

.card-libro {
  height: 400px;
}

.scrollable-container {
  overflow-x: auto;
  /* Hacer que sea scrollable horizontalmente */
  white-space: nowrap;
  /* Evitar que los elementos se envuelvan */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

}

.scrollable-container .row {
  display: inline-flex;
  /* Mostrar elementos de forma flexible en línea */
}

.conjuntoPosters {
  gap: 20px;
}

.TituloNoBg {
  background: radial-gradient(circle, rgba(42, 42, 42, 0.9), rgba(44, 44, 44, 1));
  /* Color de fondo oscuro */
  /* Grosor del borde */
  border-radius: 10px;
  /* Radio de redondeo de las esquinas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Efecto de sombra */
  padding: 10px;

  /* Ajustar al contenido */
  /* display: inline-block; */
}

/* Estilos para el botón con ID favoritoBtn */
#favoritoBtn.outline{
  color: orange; 
  background-color:transparent;
  border-color:orange; 
}
#favoritoBtn.outline:hover {
  background-color: orange; 
  color: white; 
}

/* Estilos para el botón con ID favoritoBtn */
#favoritoBtn.normal{
  background-color: orange; 
  color: white; 
}
#favoritoBtn.normal:hover {
  color: orange; 
  background-color:transparent; 
  border-color:orange; 
}

/* Estilos para el botón con ID viendoBtn */
#viendoBtn.outline {
  color: darkorchid; 
  background-color:transparent;
  border-color:darkorchid;
}
#viendoBtn.outline:hover {
  background-color: darkorchid; /* Cambia el color de fondo al color de texto en hover */
  color: white; 
}

#viendoBtn.normal {
  background-color: darkorchid; 
  color: white; 
}
#viendoBtn.normal:hover {
  color: darkorchid; 
  background-color:transparent;
  border-color:darkorchid;
}

/* Estilos para el botón con ID terminadoBtn */
#terminadoBtn.outline {
  color: #00e054; 
  background-color:transparent; 
  border-color:#00e054; 
}
#terminadoBtn.outline:hover {
  background-color: #00e054; 
  color: white; 
}

/* Estilos para el botón con ID terminadoBtn */
#terminadoBtn.normal {
  background-color: #00e054; 
  color: white;
}
#terminadoBtn.normal:hover {
  color: #00e054; 
  background-color:transparent; 
  border-color:#00e054; 
}