.img-container{
    background-image: url('../img/portada.jpg');
    background-size: cover;
      /* Ajustar la imagen de fondo */

      min-height: 40em;
      max-width: none;
}

a, .card, .card-body, span{
  text-decoration: none;
}

.navbar {
  border-radius: 0;
}

.contenidoPerfil {
  padding: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
  background: rgba(42, 42, 42, 0.9);
  color:#ccc;
}


.card:hover {
  transform: scale(1.05);
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle, #fff, #eff6ff);
  color: #333; /* Color de texto oscuro para contrastar */
  font-family: Tahoma, Geneva, sans-serif;
}

.c-footer {
  margin-top: auto;
  width: 100%;
  text-align: start;
  padding: 20px 0;
}
.comment{
  margin: 1em;
}

/* Icono de estrella amarillo */
.num_Rating .icono_media {
  color: #ffe234;
}

/* Icono de viendo en morado */
.num_Viendo .icono_media {
  color:darkorchid;
}

/* Icono de visto en verde */
.num_Vistos .icono_media {
  color: #00e054;
}

/* Icono de listas en azul */
.num_Listas .icono_media {
  color:#40bcf4;
}

/* Icono de favoritos en naranja */
.num_Favoritos .icono_media {
  color: orange;
}
