.contenido-section {
    position: relative;
    padding: 50px 0;
    margin: 0;
    /* Eliminar el margen predeterminado */

}


.contenido-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width:100%;
    /* Ancho del 100% del viewport */
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    /* Ajusta la opacidad según sea necesario */
    z-index: -1;
    /* Colocar el fondo detrás del contenido */

}

.poster {
    margin-left: 40px;
    /* Ajusta este valor según sea necesario */
    margin-right: auto;
    /* Alinea el poster a la derecha */
    max-width: 100%;
    /* Asegura que el poster no se extienda más allá del contenedor */
}

.poster-img {
    max-width: 80%;
    border-radius: 10px;
    /*border: 2px solid #ccc;*/


}

.titulo {
    /* font-family: "Arial", sans-serif; */
    font-size: 40px;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 16px;
    margin-bottom: 20px;
}

.contenido-info {
    background: radial-gradient(circle, #2a2a2a, #2c2c2c);
    /* Color de fondo oscuro */
    color: #fff;
    /* Color de texto blanco para contrastar */
    border: 2px solid #ccc;
    /* Grosor del borde */
    border-radius: 10px;
    /* Radio de redondeo de las esquinas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Efecto de sombra */

    padding: 20px;
    /* Añade un relleno para separar el contenido del borde */
}

.acciones {
    margin-top: 20px;

    background: radial-gradient(circle, #2a2a2a, #2c2c2c);
    /* Color de fondo oscuro */
    color: #fff;
    /* Color de texto blanco para contrastar */
    border: 2px solid #ccc;
    /* Grosor del borde */
    border-radius: 10px;
    /* Radio de redondeo de las esquinas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Efecto de sombra */

    padding: 20px;
    /* Añade un relleno para separar el contenido del borde */
}

.acciones button {
    margin-right: 10px;
}

.dropdown-menu{
    padding-bottom: 15px;
}

.dropdown-menu .btn {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;

}

.comentario-texto {
    word-wrap: break-word;
}

.cabecera-comentario {
    gap: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 50px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

#commentText {
    width: 600px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    resize: vertical;
}

#submitBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}