
.name{
    color:#333
}

.name:hover{
    color:gray
}

/* .followers,.following{
    color:darkorchid;
}

.followers:hover, .following:hover{
    color: purple;
} */

.visto{
    color:green;
}

.visto:hover{
    color:darkgreen;
}

.favoritos{
    color:orange;
}

.favoritos:hover{
    color:darkorange;
}

.person-table{
    width: 100%;
}

.table-stats {
    text-align: center;
}

.table-title{
    text-align: center;
}