.img-container{
    background-image: url('../img/cover2.gif');
    background-size: cover;
      /* Ajustar la imagen de fondo */

      min-height: 40em;
      max-width: none;
}

a, .card, .card-body, span{
  text-decoration: none;
}

body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.navbar {
  border-radius: 0;
}

.contenidoPerfil {
  padding: 20px;
}

.card {
  border: none;
  transition: transform 0.2s;
  color: black;
}

.card:hover {
  transform: scale(1.05);
}

.c-footer {
  position:relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

.comment{
  margin: 1em;
}