
body {
  background: radial-gradient(circle, #fff, #eff6ff);
  color: #333; /* Color de texto oscuro para contrastar */
  font-family: Tahoma, Geneva, sans-serif;
  
  margin: 0;
}

.container.overview {
  /*background: radial-gradient(circle, #2a2a2a, #2c2c2c); /* Color de fondo oscuro */
  /*color: #fff; /* Color de texto blanco para contrastar */
  border: 2px solid #ccc; /* Grosor del borde */
  border-radius: 10px; /* Radio de redondeo de las esquinas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */

  padding: 20px; /* Añade un relleno para separar el contenido del borde */
}

.container.crearLista{
  border: 2px solid #ccc; /* Grosor del borde */
  border-radius: 10px; /* Radio de redondeo de las esquinas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
  padding: 20px;
}

.mostrarListas{
  gap:20px;
}

.botonLista{
  gap:20px;
}

.contenidoPerfil {
  padding-top: 20px; /* Añade un relleno en la parte superior del div "contenidoPerfil" para compensar el espacio ocupado por el div "overview" */
}

.number p {
  font-size: 20px; /* Tamaño de fuente deseado */
}

.profile-info {
  gap:25px;
}

.stats{
  gap:25px;
}

.row {
  margin-bottom: 20px; /* Puedes ajustar el valor según la separación deseada */
}

