<!DOCTYPE html>
<html lang="es">

<head>
  <th:block th:replace="fragments/head :: header" />
  <link rel="stylesheet" th:href="@{/css/user.css}" href="css/user.css" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/contenido.css}" href="css/contenido.css" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
  <title>Admin</title>
</head>

<body th:data-iduser="${user.id}">
  <header th:replace="fragments/nav.html :: nav"></header>

  <div class="reportes">
    <h3>Reportes de comentarios</h3>
    <div th:if="${#lists.isEmpty(reportes)}">
      <p>No hay reportes disponibles.</p>
    </div>
    <div th:each="comentario : ${reportes}" class="comment">
      <div class="card mt-4">
        <a class="card-body cabecera-comentario d-flex align-items-center"
          th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
          <img th:src="@{/user/__${comentario.author.id}__/pic}" alt="" class="rounded-circle mr-3" width="40"
            height="40">
          <div>
            <h4 class="card-title nombre-comentario mb-1" th:text="${comentario.author.username}">Nombre</h4>
          </div>
          <span class="text-muted small mb-2" th:text="${comentario.dateSent}">Fecha</span>
        </a>
        <div class="card-body">
          <span class="card-text comentario-texto" th:text="${comentario.text}">Texto</span>

          <span>
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
              data-bs-target="#reporteModal">
              ✅
            </button>
          </span>


        </div>
      </div>
      <!--Modal para reportar el comentario-->
      <div class="modal fade" id="reporteModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reporte de comentario</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Formulario -->
              <p>¿Qué quieres hacer con este comentario?</p>
              <form th:action="@{/admin/__${comentario.id}__/eliminarComentario}"
                  th:object="${comentario}" method="post">
                  <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
              <form th:action="@{/admin/__${comentario.id}__/quitarReporte}"
                  th:object="${comentario}" method="post">
                  <button type="submit" class="btn btn-success">Quitar reporte</button>
              </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

  <th:block th:replace="fragments/footer.html :: footer" />
  <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>