<!DOCTYPE html>
<html lang="es">

<head>
  <th:block th:replace="fragments/head :: header" />
  <link rel="stylesheet" th:href="@{/css/user.css}" href="css/user.css" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/contenido.css}" href="css/contenido.css" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
  <title>Admin</title>
</head>

<body th:data-iduser="${user.id}">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="container overview">
      <div class="row">
        <!-- Columna izquierda: Foto de perfil, nombre de usuario y botón de editar perfil -->
        <div class="col-md-6">
          <div class="profile-info d-flex align-items-center">
            <!-- Foto de usuario -->
            <div class="profile-picture mr-3">
              <img th:src="@{/user/__${user.id}__/pic}" alt="Foto de Perfil" id="currentProfilePic"
                class="rounded-circle" style="width: 100px; height: 100px;">
            </div>
            <!-- Nombre de usuario -->
            <div class="username">
              <h3><span th:text="${user.username}">Default</span></h3>
            </div>
            <!-- Botón para editar perfil -->
            <div class="edit-profile ml-auto">
              <a th:href="@{/user/__${user.id}__/editarPerfil}">
                <button class="btn btn-primary">Editar Perfil</button>
              </a>

            </div>
          </div>
        </div>
        <!-- Columna derecha: Contadores de contenido visto, seguidores y usuarios seguidos -->
        <div class="col-md-6 mt-3">
          <div class="stats d-flex flex-row justify-content-end">
            <!-- Contador de contenido visto -->
            <a th:href="@{/user/__${user.id}__/terminado}">
              <div class="content-viewed d-flex flex-column align-items-center">
                <div class="text">
                  <h4>Visto</h4>
                </div>
                <div class="number">
                  <span th:text="${contVisto}">numero</span>
                </div>
              </div>
            </a>
            <!-- Contador de seguidores -->
            <div class="followers d-flex flex-column align-items-center mr-2">
              <div class="text">
                <h4>Seguidores</h4>
              </div>

              <div class="number">
                <p>500</p>
              </div>
            </div>
            <!-- Contador de usuarios seguidos -->
            <div class="following d-flex flex-column align-items-center">
              <div class="text">
                <h4>Siguiendo</h4>
              </div>

              <div class="number">
                <p>300</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="reportes">
    <h3>Reportes de comentarios</h3>
    <div th:if="${#lists.isEmpty(reportes)}">

      <p>No hay reportes disponibles.</p>
    </div>
    <div th:each="comentario : ${reportes}" class="comment">
      <div class="card mt-4">
        <a class="card-body cabecera-comentario d-flex align-items-center"
          th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
          <img th:src="@{/user/__${comentario.author.id}__/pic}" alt="" class="rounded-circle mr-3" width="40"
            height="40">
          <div>
            <h4 class="card-title nombre-comentario mb-1" th:text="${comentario.author.username}">Nombre</h4>
          </div>
          <span class="text-muted small mb-2" th:text="${comentario.dateSent}">Fecha</span>
        </a>
        <div class="card-body">
          <span class="card-text comentario-texto" th:text="${comentario.text}">Texto</span>

          <span>
            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
              data-target="#commentModal">
              ✅
            </button>
          </span>


        </div>
      </div>
      <!--Modal para reportar el comentario-->
      <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Formulario -->
              <form th:action="@{/user/__${user.id}__/__${media.id}__/eliminarComentario}" th:object="${comentario}"
                method="post">
                <input type="hidden" name="comentarioId" th:value="${comentario.id}" />
                <button type="submit" class="btn btn-primary">Eliminar</button>
              </form>
              <form th:action="@{/user/__${user.id}__/__${media.id}__/quitarReporte}" th:object="${comentario}"
                method="post">
                <input type="hidden" name="comentarioId" th:value="${comentario.id}" />
                <button type="submit" class="btn btn-primary">Quitar reporte</button>
              </form>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

  <th:block th:replace="fragments/footer.html :: footer" />
  <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>