<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/user.css}" href="css/user.css" type="text/css" />
    <title>Admin</title>
</head>

<body th:data-iduser="${user.id}">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container overview">
          <div class="row">
            <!-- Columna izquierda: Foto de perfil, nombre de usuario y botón de editar perfil -->
            <div class="col-md-6">
              <div class="profile-info d-flex align-items-center">
                <!-- Foto de usuario -->
                <div class="profile-picture mr-3">
                  <img th:src="@{/user/__${user.id}__/pic}" alt="Foto de Perfil" id="currentProfilePic"
                    class="rounded-circle" style="width: 100px; height: 100px;">
                </div>
                <!-- Nombre de usuario -->
                <div class="username">
                  <h3><span th:text="${user.username}">Default</span></h3>
                </div>
                <!-- Botón para editar perfil -->
                <div class="edit-profile ml-auto">
                  <a th:href="@{/user/__${user.id}__/editarPerfil}">
                    <button class="btn btn-primary">Editar Perfil</button>
                  </a>
    
                </div>
              </div>
            </div>
            <!-- Columna derecha: Contadores de contenido visto, seguidores y usuarios seguidos -->
            <div class="col-md-6 mt-3">
              <div class="stats d-flex flex-row justify-content-end">
                <!-- Contador de contenido visto -->
                <a th:href="@{/user/__${user.id}__/terminado}">
                  <div class="content-viewed d-flex flex-column align-items-center">
                    <div class="text">
                      <h4>Visto</h4>
                    </div>
                    <div class="number">
                      <span th:text="${contVisto}">numero</span>
                    </div>
                  </div>
                </a>
                <!-- Contador de seguidores -->
                <div class="followers d-flex flex-column align-items-center mr-2">
                  <div class="text">
                    <h4>Seguidores</h4>
                  </div>
    
                  <div class="number">
                    <p>500</p>
                  </div>
                </div>
                <!-- Contador de usuarios seguidos -->
                <div class="following d-flex flex-column align-items-center">
                  <div class="text">
                    <h4>Siguiendo</h4>
                  </div>
    
                  <div class="number">
                    <p>300</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>