<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/busqueda.css}" href="css/busqueda.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <title>Búsqueda</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <section class="container justify-content-center" id="mi-lista">
        <!--<div class="container barraBusqueda mt-3">
            <input type="text" placeholder="Buscar">
        </div>-->
        <h2 class="mt-5">Resultados: <span th:text="${paramBusqueda}"></span> </h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 mt-3 d-flex" th:each="item : ${resultado}">
            <!--enviamos los datos en forma de formulario porque directamente no me deja :( -->
                 <form th:action="@{/contenido}" method="get">
                    <input type="hidden" name="tipo" th:value="${item.tipo}" />
                    <input type="hidden" name="id" th:value="${item.id}" />
                    <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
                        <div class="card">
                            <img class="card-img w-500" th:src="@{'https://image.tmdb.org/t/p/original/' + ${item.coverImageUrl}}" alt="Cover">
                            <div class="card-body">
                                <h6><b><span th:text="${item.nombre}"></span></b></h6>
                                <h6><span th:text="${item.tipo}"></span></h6>
                            </div>
                        </div>
                    </button>
                </form>
            </div>



            <!--
                <a th:href="@{/contenido}" >
                <div class="card">
                  <img class="card-img" src="img/portada.jpg" alt="portada">
                    <a class="card-body">
                        <h6>Stranger Things</h6>
                        <p>Stranger Things es una serie de televisión web estadounidense de suspenso y ciencia ficción coproducida y distribuida por Netflix
                        </p>
                    </a>
                </a>-->
        </div>
        </div>
</body>

</html>