<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/busqueda.css}" href="css/busqueda.css" type="text/css" />
    <title>Búsqueda</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <section class="container justify-content-center" id="mi-lista">
        <!--<div class="container barraBusqueda mt-3">
            <input type="text" placeholder="Buscar">
        </div>-->
        <h2 class="mt-5">Resultados: </h2>
        <div class="row">
            <body th:each="item : ${resultado}">

                <div class="card">
                    <img class="card-img h-50 w-50" th:src="@{'https://image.tmdb.org/t/p/original/' + ${item.coverImageUrl}}"
                        alt="Cover">
                    <a class="card-body">
                        <h6 class> <span th:text="${item.tipo}"></span></h6>
                    </a>
                </div>
            </body>



            <!--
                <a th:href="@{/contenido}" >
                <div class="card">
                  <img class="card-img" src="img/portada.jpg" alt="portada">
                    <a class="card-body">
                        <h6>Stranger Things</h6>
                        <p>Stranger Things es una serie de televisión web estadounidense de suspenso y ciencia ficción coproducida y distribuida por Netflix
                        </p>
                    </a>
                </a>-->
        </div>
        </div>
</body>

</html>