<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/contenido.css}" href="css/contenido.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <title>Inicio</title>
</head>

<body th:attr="data-userId=${user.id}, data-mediaId=${media.id}, data-mediaTipo=${media.tipo}">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="contenido-background" th:style="'background-image: url(' + ${media.backdropImageUrl} + ')'"></div>

    <section class="container contenido-section">
        <div class="row">
            <div class="col-md-6">
                <div class="poster">
                    <img class="poster-img w-500" th:src="@{${media.coverImageUrl}}" alt="Poster">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenido-info">
                    <h1 class="titulo" th:text="${media.nombre}"></h1>
                    <p class="descripcion" th:text="${media.descripcion}">No hay descripcion</p>
                    <h3>aqui van los datos del contenido</h3>
                </div>
                <div class="row"> <!-- Agregar una fila -->
                    <div class="col-md-12"> <!-- La columna que contiene las acciones -->
                        <div class="acciones">
                            <!-- <h2> Añadir a: </h2> -->
                            <div class="container">
                                <!-- Acciones que puede realizar el usuario con las listas basicas -->
                                <div class="d-grid gap-2">

                                    <div class="rate">
                                        <input type="radio" id="star5" class="star" name="rate" value="5"
                                            th:checked="${relacion.calificacion == 5}" />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" class="star" name="rate" value="4"
                                            th:checked="${relacion.calificacion == 4}" />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" class="star" name="rate" value="3"
                                            th:checked="${relacion.calificacion == 3}" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" class="star" name="rate" value="2"
                                            th:checked="${relacion.calificacion == 2}" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" class="star" name="rate" value="1"
                                            th:checked="${relacion.calificacion == 1}" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>

                                    <button class="btn"
                                        th:class="${relacion.favorito} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="favoritoBtn"><i class="fa-solid fa-heart"></i>Favoritos</button>
                                    <button class="btn"
                                        th:class="${relacion.viendo} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="viendoBtn"><i
                                            class="fa-sharp fa-solid fa-hourglass-half"></i>Viendo</button>
                                    <button class="btn"
                                        th:class="${relacion.ended} ? 'btn botonesBasicos btn-danger' : 'btn botonesBasicos btn-success'"
                                        id="terminadoBtn"><i class="fa-regular fa-eye"></i>Terminado</button>

                                    <div class="dropdown ">
                                        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                            id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-list"></i> Seleccionar lista
                                        </button>
                                        <!-- Iterar sobre la lista de elementos y mostrar cada uno -->

                                        <div class="dropdown-menu dropdown-menu-dark w-100 " aria-labelledby="dropdownMenuButton">

                                            <!-- Iterar sobre las listas y mostrarlas como checkboxes en el dropdown -->
                                            <div th:each="item : ${Listas}" class="mt-2 ">
                                                <!-- asi no aparecen los botones de favoritos, viendo y terminado -->
                                                <button th:unless="${item.name == 'favoritos'|| item.name == 'viendo' || item.name == 'terminado' }"
                                                    class="btn "
                                                    th:class="${item.medias.contains(media)} ? 'btn botonesBasicos  btn-danger' : 'btn botonesBasicos btn-success'"
                                                    th:text="${item.name}">
                                                </button>
                                            </div>
            
                                        </div>

                                    </div>


                                </div>

                                <div class="row">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Verifica si media.type no es igual a "movie" -->
    <th:block th:if="${media.tipo != 'movie'}">
        <h2>Temporadas</h2>
        <div class="container">
            <div class="row">
                <div th:each="item: ${temporadas}" class="col-lg-3 col-md-3 mb-4">
                    <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" th:src="@{img/portada.jpg}" alt="poster">
                        <div class="card-body text-center">
                            <h6 class="card-title" th:text="${item}">"S1E1"</h6>
                        </div>
                    </div>
                    <!--</a>-->
                </div>
            </div>
            <hr>
        </div>
    </th:block>


    </div>
    </div>

    <div class="container mb-2">
        <h2>Comentarios</h2>
        <!--Boton para poner un comentario-->
        <h4>Add a comment</h4>
        <textarea type="text" id="commentText" placeholder="Type your comment here"></textarea><br>
        <button id="submitBtn">Submit</button>
        <div id="comments">
            <div th:each="comentario : ${comentarios}" class="comment">
                <div class="card mt-4">
                    <a class="card-body cabecera-comentario d-flex align-items-center"
                        th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
                        <img th:src="@{/user/__${comentario.author.id}__/pic}" alt="" class="rounded-circle mr-3"
                            width="40" height="40">
                        <div>
                            <h4 class="card-title nombre-comentario mb-1" th:text="${comentario.author.username}">Nombre
                            </h4>
                        </div>
                        <span class="text-muted small mb-2" th:text="${comentario.dateSent}">Fecha</span>
                    </a>
                    <div class="card-body">
                        <span class="card-text comentario-texto" th:text="${comentario.text}">Texto</span>


                        <span th:if="${comentario.author.id != user.id}">
                            <!--PARA QUE UN USUARIO NO PUEDA NI AUTOREPORTARSE NI QUE SEPA QUE LE HAN REPORTADO-->
                            <span th:if="${!comentario.report}">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                th:data-bs-target="'#reporteModal-' + ${comentario.id}" th:id="'flag-' + ${comentario.id}">
                                    🚩
                                </button>
                            </span>
                            <div th:if="${comentario.report}">
                                <span><b>Este comentario ya ha sido reportado</b></span>
                            </div>
                        </span>


                    </div>
                </div>

                <!--Modal para reportar el comentario-->
                <div class="modal fade" th:id="'reporteModal-' + ${comentario.id}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario -->
                                <form th:action="@{/user/__${user.id}__/__${media.id}__/reportarComentario/__${comentario.id}__}" method="post">
                                    <input type="hidden" id="comment-click" th:value="${comentario.id}"/>
                                    <p>¿Estás seguro de reportar este comentario? Lo mandaremos a un administrador para
                                        que lo
                                        compruebe</p>
                                    <button type="submit" class="btn btn-danger" id="btn-report">Reportar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal reportar comentario

    <div class="modal fade" id="reporteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reportar comentario</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form th:action="@{/user/__${user.id}__/__${media.id}__/reportarComentario}"
                        th:object="${comentario}" method="post">
                        <p>¿Estás seguro de reportar este comentario? Lo mandaremos a un administrador para que lo
                            compruebe</p>
                        <button type="submit" class="btn btn-primary">Reportar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>-->


    <!--<div class="container mb-2">
        <h2>Reseñas</h2>
        <div class="comment">
            <h5>Yo</h5>
            <p>Adoramos</p>
            <button class="btn btn-danger">Flag</button>
        </div>
    </div>-->


    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
    <script th:src="@{/js/contenido.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>
</body>

</html>