<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <title>Inicio</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container mt-4">
        <h1 class="text-center" th:text="${media.nombre}">Nombre del Contenido</h1>
        <div class="text-center">
            <img class="img-fluid rounded" th:src="@{'https://image.tmdb.org/t/p/w500/' + ${media.coverImageUrl}}" 
            th:alt="${media.nombre}">
        </div>
        <hr>
        <h2>Capítulos</h2>

        <div class="row">
            <div class="col-lg-3 col-md-3 mb-4">
                <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" src="img/portada.jpg" alt="portada">
                        <div class="card-body text-center">
                            <h6 class="card-title">S1E1</h6>
                        </div>
                    </div>
                <!--</a>-->
            </div>
            <div class="col-lg-3 col-md-3 mb-4">
                <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" src="img/portada.jpg" alt="portada">
                        <div class="card-body text-center">
                            <h6 class="card-title">S1E2</h6>
                        </div>
                    </div>
                <!--</a>-->
            </div>
            <div class="col-lg-3 col-md-3 mb-4">
                <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" src="img/portada.jpg" alt="portada">
                        <div class="card-body text-center">
                            <h6 class="card-title">S1E3</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mb-4">
                <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" src="img/portada.jpg" alt="portada">
                        <div class="card-body text-center">
                            <h6 class="card-title">S1E4</h6>
                        </div>
                    </div>
                <!--</a>-->
            </div>
        </div>

    </div>
    </div>
    <hr>
    <div class="container mb-2">
        <h2>Comentarios</h2>
        <div class="comment">
            <h5>Usuario1</h5>
            <p>Me encanta esta serie!!!!</p>
            <button class="btn btn-danger">Flag</button>
        </div>
        <div class="comment">
            <h5>Usuario2</h5>
            <p>Personalmente creo que esta serie dentro de la capacidad que tenian para producirla es muy pobre
                tanto por guion como por audiovisuales" - Usuario1.</p>
            <button class="btn btn-danger"> Flag</button>
        </div>
    </div>
    <hr>
    <div class="container mb-2">
        <h2>Reseñas</h2>
        <div class="comment">
            <h5>Yo</h5>
            <p>Adoramos</p>
            <button class="btn btn-danger">Flag</button>
        </div>
    </div>


    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
</body>

</html>