<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/contenido.css}" href="css/contenido.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" />
    <title>Inicio</title>
</head>

<body th:attr="data-userId=${user.id}, data-mediaId=${media.id}, data-mediaTipo=${media.tipo}">
    <header th:replace="fragments/nav.html :: nav"></header>

    <section class="container contenido-section">
        <div class="contenido-background" th:style="'background-image: url(' + ${media.backdropImageUrl} + ')'"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="poster">
                    <img class="poster-img w-500" th:src="@{${media.coverImageUrl}}" alt="Poster">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenido-info">
                    <h1 class="titulo" th:text="${media.nombre}"></h1>
                    <p class="descripcion" th:text="${media.descripcion}">No hay descripcion</p>
                    <div class="acciones">
                        <h2> Añadir a: </h2>
                        <div class="container">
                            <!-- Acciones que puede realizar el usuario con las listas basicas -->
                            <div class="acciones">
                                <button class="btn"
                                    th:class="${relacion.favorito} ? 'btn btn-danger' : 'btn btn-success'"
                                    id="favoritoBtn">Favoritos</button>
                                <button class="btn" th:class="${relacion.viendo} ? 'btn btn-danger' : 'btn btn-success'"
                                    id="viendoBtn">Viendo</button>
                                <button class="btn" th:class="${relacion.ended} ? 'btn btn-danger' : 'btn btn-success'"
                                    id="terminadoBtn">Terminado</button>

                            </div>

                            <div class="row">
                                <!-- Iterar sobre la lista de elementos y mostrar cada uno -->
                                <div th:each="item : ${Listas}" class="col-lg-4 col-md-6 mb-2">
                                    <!--<a th:href="@{/user/{id}/{list}(id=${user.id}, list=${item.name})}">-->
                                    <!-- Redireccion a añadir a lista -->
                                    <form th:action="@{/user/{id}/addTo/{list}(id=${user.id}, list=${item.name})}"
                                        method="post">
                                        <input type="hidden" name="mediaId" th:value="${media.id}" />
                                        <input type="hidden" name="mediaTipo" th:value="${media.tipo}" />
                                        <button type="submit" class="btn btn-outline-info">
                                            <span th:if="${item.name == 'favoritos'}">❤️</span>
                                            <span th:if="${item.name == 'viendo'}">👀</span>
                                            <span th:if="${item.name == 'terminado'}">🔚</span>
                                            <span
                                                th:unless="${item.name == 'favoritos'||item.name == 'viendo'||item.name == 'terminado'}"
                                                th:text="${item.name}">Nombre</span>
                                        </button>
                                    </form>
                                    <!--</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="rate">
                            <input type="radio" id="star5" class="star" name="rate" value="5" th:checked="${relacion.calificacion == 5}" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" class="star" name="rate" value="4" th:checked="${relacion.calificacion == 4}" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" class="star" name="rate" value="3" th:checked="${relacion.calificacion == 3}" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" class="star" name="rate" value="2" th:checked="${relacion.calificacion == 2}" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" class="star" name="rate" value="1" th:checked="${relacion.calificacion == 1}" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Verifica si media.type no es igual a "movie" -->
    <th:block th:if="${media.tipo != 'movie'}">
        <h2>Temporadas</h2>
        <div class="container">
            <div class="row">
                <div th:each="item: ${temporadas}" class="col-lg-3 col-md-3 mb-4">
                    <!--<a href="miPerfil.html">-->
                    <div class="card">
                        <img class="card-img-top" th:src="@{img/portada.jpg}" alt="poster">
                        <div class="card-body text-center">
                            <h6 class="card-title" th:text="${item}">"S1E1"</h6>
                        </div>
                    </div>
                    <!--</a>-->
                </div>
            </div>
            <hr>
        </div>
    </th:block>


    </div>
    </div>

    <div class="container mb-2">
        <h2>Comentarios</h2>
        <!--Boton para poner un comentario-->
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#comentarioModal">
            Nuevo Comentario
        </button>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <div th:each="comentario : ${comentarios}">
                        <a class="card mt-4"
                            th:href="@{/user/{id}/comentario/{idComent}(id=${user.id}, idComent=${comentario.id})}">
                            <div class="card-body cabecera-comentario d-flex align-items-center">
                                <img th:src="@{/user/__${comentario.author.id}__/pic}" alt=""
                                    class="rounded-circle mr-3" width="40" height="40">
                                <div>
                                    <h4 class="card-title nombre-comentario mb-1"
                                        th:text="${comentario.author.username}">Nombre</h4>
                                    <span class="text-muted small mb-2" th:text="${comentario.dateSent}">Fecha</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text comentario-texto" th:text="${comentario.text}">Texto</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="comentarioModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Comentario</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form th:action="@{/user/__${user.id}__/__${media.id}__/nuevoComentario}" th:object="${comentario}"
                        method="post">
                        <div class="form-group">
                            <label for="cont">Comentario</label>
                            <textarea class="form-control" id="cont" placeholder="Comentario..." th:field="*{text}"
                                rows="4"></textarea>
                            <input type="hidden" name="tipo" th:value="${media.tipo}" />
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container mb-2">
        <h2>Reseñas</h2>
        <div class="comment">
            <h5>Yo</h5>
            <p>Adoramos</p>
            <button class="btn btn-danger">Flag</button>
        </div>
    </div>-->


    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
    <script th:src="@{/js/contenido.js}"></script>
</body>

</html>