<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/editarPerfil.css}" href="css/editarPerfil.css" type="text/css" />
    <title>Perfil de Usuario</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Perfil de  <span th:text="${user.username}">default</span></h1>
            <p th:if="${EditarExitoso}" class="editProfile-message" th:text="${EditarExitoso}">Perfil editado correctamente</p>
            <div class="profile-info">
                <div class="profile-picture">
                    <img th:src="@{/user/__${user.id}__/pic}" alt="Foto de Perfil" id="currentProfilePic"
                        class="rounded-end" style="width: 200px; height: 200px;">
                </div>
                <div class="change-picture">
                    <!--contenedor para la vista previa de la nueva imagen -->
                    <div id="newProfilePicPreview" style="display: none;">
                        <h5>Nueva Foto de Perfil</h5>
                        <img id="newProfilePicPreviewImg" class="rounded-end" alt="Nueva foto" style="width: 200px; height: 200px;">
                    </div>
                    <form id="changeProfilePicForm" th:action="@{/user/__${user.id}__/pic}" method="post">
                        <input type="file" id="newProfilePic" name="photo" accept="image/*">
                        <button id="postProfilePic" type="submit" class="btn btn-sm btn-warning">Cambiar Foto</button>
                    </form>
                </div>
            </div>
            <form id="profileForm" th:object="${user}" method="post" th:action="@{/user/__${user.id}__/editarPerfil}">
                <p>
                    <label for="firstName">Nombre</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" th:value="${user.firstName}">
                </p>
                <p>
                    <label for="lastName">Apellidos</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" th:value="${user.lastName}">
                </p>
                <p>
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" th:value="${user.username}" readonly>
                </p>
                <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            </form>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger "> Darse de baja</button>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/editarPerfil.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>

</body>

</html>
