<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/social.css}" href="css/social.css" type="text/css" />
    <title>Inicio</title>

</head>

<body th:data-iduser="${user.id}" th:data-paramSocial="${paramSocial}" class="d-flex flex-column">
    <header th:replace="fragments/nav.html :: nav"></header>

    <section class="container justify-content-center" id="social-cont">
        <!--<div class="container barraBusqueda mt-3">
        <input type="text" placeholder="Buscar">
    </div>-->
        <div class="row">
            <div class="justify-content-center align-items-center mt-3 btn-group" id="btn-group">
                <button class="btn btn-dark" id="following-search">Siguiendo (<span id="resultadoFollowing"
                        th:text="${user.following.size()}">0</span>)</button>
                <button class="btn btn-outline-dark" id="followers-search">Seguidores (<span id="resultadoFollowers"
                        th:text="${user.followers.size()}">0</span>)</button>
            </div>
        </div>

        <!-- TABLA FOLLOWERS -->

        <table class="table table-hover  person-table content-followers d-none">
            <thead>
                <tr>
                    <th class="left-th">Nombre</th>
                    <th class="table-title">Seguidores</th>
                    <th class="table-title">Siguiendo</th>
                    <th class="table-title">Visto</th>
                    <th class="table-title">Listas</th>
                    <th class="table-title">Favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${user.followers}">
                    <td class="table-person">
                        <div class="user-info d-flex gap-3">
                            <img th:src="@{/user/__${usuario.id}__/pic}" class="rounded-circle" alt="pic" width="45"
                                height="45"> </a>
                            <div class="person-summary">
                                <form th:action="@{/user/__${usuario.id}__/perfilUsuario}" method="get">
                                    <input type="hidden" name="username" th:value="${usuario.username}">
                                    <h4 class="title-3"> <button type="submit" class=" btn btn-unstyled name">
                                            <span th:text="${usuario.username}">username</span> </button> </h4>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="table-stats">
                        <a class="followers" th:href="@{/user/__${usuario.id}__/social/followers}">
                            <i class="fa-solid fa-user"></i>
                            <span th:text=" ${usuario.followers.size}"> 0</span>
                        </a>
                    </td>
                    <td class="table-stats">
                        <a class="following" th:href="@{/user/__${usuario.id}__/social/following}">
                            <i class="fa-solid fa-user"></i>
                            <span th:text=" ${usuario.following.size}"> 0</span>
                        </a>
                    </td>

                    <td class="table-stats"><a class="visto"
                            th:href="@{/user/__${usuario.id}__/Terminado/__${usuario.username}__}">
                            <i class="fa-solid fa-eye"></i> <span th:text=" ${usuario.listas[2].medias.size}"> 1</span>
                        </a></td>
                    <td class="table-stats"><a class="listas">
                            <i class="fa-solid fa-list">
                                <span th:text=" ${usuario.listas.size}"> 0</span>
                        </a></td>
                    <td class="table-stats"><a class="favoritos"
                            th:href="@{/user/__${usuario.id}__/Favoritos/__${usuario.username}__}">
                            <i class="fa-solid fa-heart"></i>
                            <span th:text=" ${usuario.listas[0].medias.size}"> 1</span></a></td>

                    <td class="table-follow-status" th:unless="${usuario.id == actual.id}">
                        <div th:data-userId="${usuario.id}">
                            <!-- Botón de "Unfollow" -->
                            <button th:if="${usuario.followers.contains(actual)}"
                                class="btn btn-danger boton-unfollow boton-follow">
                                <i class="fa-solid fa-user-minus"></i> Seguir
                            </button>
                            <!-- Botón de "Follow" -->
                            <button th:unless="${usuario.followers.contains(actual)}"
                                class="btn btn-success boton-follow">
                                <i class="fa-solid fa-user-plus"></i> Seguir
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- TABLA FOLLOWING -->

        <table class="table table-hover  person-table content-following ">
            <thead>
                <tr>
                    <th class="left-th">Nombre</th>
                    <th class="table-title">Seguidores</th>
                    <th class="table-title">Siguiendo</th>
                    <th class="table-title">Visto</th>
                    <th class="table-title">Listas</th>
                    <th class="table-title">Favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${user.following}">
                    <td class="table-person">
                        <div class="user-info d-flex gap-3">
                            <img th:src="@{/user/__${usuario.id}__/pic}" class="rounded-circle" alt="pic" width="45"
                                height="45"> </a>
                            <div class="person-summary">
                                <form th:action="@{/user/__${usuario.id}__/perfilUsuario}" method="get">
                                    <input type="hidden" name="username" th:value="${usuario.username}">
                                    <h4 class="title-3"> <button type="submit" class=" btn btn-unstyled name">
                                            <span th:text="${usuario.username}">username</span> </button> </h4>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="table-stats">
                        <a class="followers" th:href="@{/user/__${usuario.id}__/social/followers}">
                            <i class="fa-solid fa-user"></i>
                            <span th:text=" ${usuario.followers.size}"> 0</span>
                        </a>
                    </td>
                    <td class="table-stats">
                        <a class="following" th:href="@{/user/__${usuario.id}__/social/following}">
                            <i class="fa-solid fa-user"></i>
                            <span th:text=" ${usuario.following.size}"> 0</span>
                        </a>
                    </td>

                    <td class="table-stats"><a class="visto"
                            th:href="@{/user/__${usuario.id}__/Terminado/__${usuario.username}__}">
                            <i class="fa-solid fa-eye"></i> <span th:text=" ${usuario.listas[2].medias.size}"> 1</span>
                        </a></td>
                    <td class="table-stats"><a class="listas"></a>
                        <i class="fa-solid fa-list">
                            <span th:text=" ${usuario.listas.size}"> 0</span></a>
                    </td>
                    <td class="table-stats"><a class="favoritos"
                            th:href="@{/user/__${usuario.id}__/Favoritos/__${usuario.username}__}">
                            <i class="fa-solid fa-heart"></i>
                            <span th:text=" ${usuario.listas[0].medias.size}"> 1</span></a></td>

                    <td class="table-follow-status" th:unless="${usuario.id == actual.id}">
                        <div th:data-userid="${usuario.id}">
                            <!-- Botón de "Unfollow" -->
                            <button th:if="${usuario.followers.contains(actual)}"
                                class="btn btn-danger boton-unfollow boton-follow">
                                <i class="fa-solid fa-user-minus"></i> Seguir
                            </button>
                            <!-- Botón de "Follow" -->
                            <button th:unless="${usuario.followers.contains(actual)}"
                                class="btn btn-success boton-follow">
                                <i class="fa-solid fa-user-plus"></i> Seguir
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/social.js}"></script>
    <script th:src="@{/js/addNotification.js}" src="js/addNotification.js"></script>
</body>

</html>