<!DOCTYPE html>
<html lang="es">

<head>
  <th:block th:replace="fragments/head :: header" />
  <link rel="stylesheet" th:href="@{/css/user.css}" href="css/user.css" type="text/css" />
  <title>Inicio</title>

</head>

<body th:data-iduser="${user.id}">
  <header th:replace="fragments/nav.html :: nav"></header>
  <main class="flex-shrink-0">
    <div class="container overview">
      <div class="row">
        <!-- Columna izquierda: Foto de perfil, nombre de usuario y botón de editar perfil -->
        <div class="col-md-6">
          <div class="profile-info d-flex align-items-center">
            <!-- Foto de usuario -->
            <div class="profile-picture mr-3">
              <img th:src="@{/user/__${user.id}__/pic}" alt="Foto de Perfil" id="currentProfilePic"
                class="rounded-circle" style="width: 100px; height: 100px;">
            </div>
            <!-- Nombre de usuario -->
            <div class="username">
              <h3><span th:text="${user.username}">Default</span></h3>
            </div>
            <!-- Botón para editar perfil -->
            <div class="edit-profile ml-auto" th:if="${user.id == session.u.id}">
              <a th:href="@{/user/__${user.id}__/editarPerfil}">
                <button class="btn btn-secondary">Editar Perfil <i class="fa-solid fa-gear"></i></button>
              </a>
            </div>
            <div class="follow-profile ml-auto" th:unless="${user.id == session.u.id}">
              <!-- Botón de "Unfollow" -->
              <button th:if="${user.followers.contains(actual)}" class="btn btn-danger boton-unfollow boton-follow">
                <i class="fa-solid fa-user-minus"></i> Seguir
              </button>
              <!-- Botón de "Follow" -->
              <button th:unless="${user.followers.contains(actual)}" class="btn btn-success boton-follow">
                <i class="fa-solid fa-user-plus"></i> Seguir
              </button>
            </div>
          </div>
        </div>
        <!-- Columna derecha: Contadores de contenido visto, seguidores y usuarios seguidos -->
        <div class="col-md-6 mt-3">
          <div class="stats d-flex flex-row justify-content-end">
            <!-- Contador de contenido visto -->
            <a th:href="@{/user/__${user.id}__/terminado/__${user.username}__}">
              <div class="content-viewed d-flex flex-column align-items-center">
                <div class="text">
                  <h4>Visto</h4>
                </div>
                <div class="number">
                  <i class="fa-regular fa-eye"></i>
                  <span th:text="${terminado.size}">numero</span>
                </div>
              </div>
            </a>
            <!-- Contador de seguidores -->
            <a th:href="@{/user/__${user.id}__/social/followers}">
              <div class="followers d-flex flex-column align-items-center mr-2">
                <div class="text">
                  <h4>Seguidores</h4>
                </div>

                <div class="number">
                  <i class="fas fa-user"></i>
                  <span th:text="${user.followers.size}">Número</span>
                </div>
              </div>
            </a>

            <!-- Contador de usuarios seguidos -->
            <a th:href="@{/user/__${user.id}__/social/following}">
              <div class="following d-flex flex-column align-items-center">
                <div class="text">
                  <h4>Siguiendo</h4>
                </div>

                <div class="number">
                  <i class="fas fa-user"></i>
                  <span th:text="${user.following.size}">Número</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="container contenidoPerfil">

    <!-- boton para abrir el collapse -->
    <div class="container crearLista">

      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="mostrarListas d-flex">
            <a class="btn btn-success mb-2  " data-bs-toggle="collapse" href="#collapseNombreListas" role="button"
              aria-expanded="false" aria-controls="collapseNombreListas">
              <i class="fa-solid fa-list"></i>
              Listas
            </a>
            <!--Boton para crear una nueva lista-->
            <button th:if="${user.id == session.u.id}" type="button" class="btn btn-outline-primary mb-2 "
              data-bs-toggle="modal" data-bs-target="#nuevaListaModal">
              Añadir Lista <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseNombreListas">
        <div class="row">
          <div class="col-md-6 mt-3 d-flex flex-row justify-content-start botonLista">
            <!-- Iterar sobre la lista de elementos y mostrar cada uno -->
            <div th:each="item : ${Listas}" class="mr-2">
              <!-- hay que cambiar esto -->
              <a th:href="@{/user/{id}/{list}/__${user.username}__(id=${user.id}, list=${item.name})}">
                <!-- Redireccion al contenido de la lista seleccionada -->
                <button type="button" class="btn btn-warning" th:text="${item.name}">Nombre</button>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="nuevaListaModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nueva Lista</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario -->
            <form th:action="@{/user/__${user.id}__/crearLista}" th:object="${Lista}" method="post">
              <div class="form-group">
                <label for="nombreLista">Nombre de la Lista</label>
                <input type="text" class="form-control" id="nombreLista" placeholder="Ingrese el nombre de la lista"
                  th:field="*{name}">
                <div id="nombreLista-error"></div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="listaPublica" th:field="*{isPublic}">
                <label class="form-check-label" for="listaPublica">Lista Pública</label>
              </div>
              <button type="submit" id="crearListaButton" class="btn btn-primary" disabled>Guardar</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <!-- LISTA DE ESTAS VIENDO -->
    <h2><i class="fa-sharp fa-solid fa-hourglass-half"></i> Viendo </h2>
    <p>Tus peliculas, series y libros</p>
    <div class="row">
      <!-- Iterar sobre los medios y mostrarlos -->
      <div class="col-md-6 mt-3 d-flex flex-row justify-content-start conjuntoPosters">
        <div th:each="media : ${viendo}" class="mr-2">
          <form th:action="@{/user/__${user.id}__/contenido}" method="get">
            <input type="hidden" name="tipo" th:value="${media.tipo}" />
            <input type="hidden" name="idMedia" th:value="${media.id}" />
            <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
              <div class="card">
                <img class="card-img-top" th:src="@{'https://image.tmdb.org/t/p/original/' + ${media.coverImageUrl}}"
                  alt="portada" th:style="'height: 300px; object-fit: cover;'" />
                <!-- el uso de th:style es porque la imagen con thymleaf no puede procesarse en el archivo css -->
                <div class="card-body text-center">
                  <h6 class="card-title" th:text="${media.nombre}">Nombre del contenido</h6>
                </div>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

    <hr />
    <!-- LISTA DE FAVORITOS -->
    <h2><i class="fa-solid fa-heart"></i> Favoritos </h2>
    <p>Ve más series, películas o libros para rellenar este espacio.</p>
    <div class="row">
      <!-- Iterar sobre los medios y mostrarlos -->
      <div class="col-md-6 mt-3 d-flex flex-row justify-content-start conjuntoPosters">
        <div th:each="media : ${favoritos}" class="mr-2">
          <form th:action="@{/user/__${user.id}__/contenido}" method="get">
            <input type="hidden" name="tipo" th:value="${media.tipo}" />
            <input type="hidden" name="idMedia" th:value="${media.id}" />
            <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">
              <div class="card">
                <img class="card-img-top" th:src="@{'https://image.tmdb.org/t/p/original/' + ${media.coverImageUrl}}"
                  alt="portada" th:style="'height: 300px; object-fit: cover;'" />
                <!-- el uso de th:style es porque la imagen con thymleaf no puede procesarse en el archivo css -->
                <div class="card-body text-center">
                  <h6 class="card-title" th:text="${media.nombre}">Nombre del contenido</h6>
                </div>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

    <hr />


    <footer>
      <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
    <script th:src="@{/js/user.js}" src="js/user.js"></script>
</body>

</html>