<!DOCTYPE html>
<html lang="es">
  <head>
    <th:block th:replace="fragments/head :: header" />
    <title>Inicio</title>
  </head>

  <body>
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container contenidoPerfil">
      <h1 class="mb-4">Bienvenido: <span th:text="${user.username}">default</span></h1>

      <h2>Mis Listas</h2>
      <p>Mis listas personalizadas</p>
      <!--Boton para crear una nueva lista-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaListaModal">
        Nueva Lista
      </button>
       <!-- Modal -->
       <div class="modal fade" id="nuevaListaModal" role="dialog" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nueva Lista</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Formulario -->
              <form th:action="@{/guardar-lista}" th:object="${Lista}" method="post">
                <div class="form-group">
                  <label for="nombreLista">Nombre de la Lista</label>
                  <input type="text" class="form-control" id="nombreLista" placeholder="Ingrese el nombre de la lista" th:field="*{name}">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="listaPublica" th:field="*{isPublic}">
                  <label class="form-check-label" for="listaPublica">Lista Pública</label>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{boton.guardar}">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <h2>Estás viendo</h2>
      <p>Tus peliculas, series y libros</p>

      <section id="portada"></section>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <a th:href="@{/contenido}" > 
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" /> </a>
            <div class="card-body text-center">
              <h6 class="card-title">Stranger Things</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
             <!--<a href="miPerfil.html">-->
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" />
            <div class="card-body text-center">
              <h6 class="card-title">Juego de Tronos</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
             <!--<a href="miPerfil.html">-->
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" />
            <div class="card-body text-center">
              <h6 class="card-title">El Mentalista</h6>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <h2>Ya visto</h2>
      <p>Ve más series, películas o libros para rellenar este espacio.</p>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
             <!--<a href="miPerfil.html">-->
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" />
            <div class="card-body text-center">
              <h6 class="card-title">Breaking bad</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
             <!--<a href="miPerfil.html">-->
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" />
            <div class="card-body text-center">
              <h6 class="card-title">Arcane</h6>
            </div>
        
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <!--<a href="miPerfil.html">-->
          <div class="card">
            <img class="card-img-top" src="/img/portada.jpg" alt="portada" />
            <div class="card-body text-center">
              <h6 class="card-title">Drag Race</h6>
            </div>
          </div>
       
        </div>
      </div>

      <hr />

      <h2>Mis Comentarios</h2>
      <p>Aquí van tus Comentarios.</p>

      <hr />

      <h2>Mis Reseñas</h2>
      <h5>Stranger Things - Adoramos</h5>
    </div>

    <footer>
        <th:block th:replace="fragments/footer.html :: footer" />
    </footer>
  </body>
</html>
